body {
  background-image: url('../img/stars.jpg');
  font-family: 'Amatic SC', cursive;
}

.button {
display: flex;
justify-content: center;
align-items: center;
position: relative;
bottom: 200px;
}

.button-74 {
  background-color: #fbeee0;
  border: 2px solid #000;
  border-radius: 30px;
  box-shadow: #000 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}


li {
  display:inline-block;
  margin: 1px 100px 1px 1px;
}

.menu {
  text-align: center;
}

.menu a {
  text-decoration: none;
  font-size: 70px;
}

a {
  color:#fff;
  text-decoration: none;
}

a:hover {
  color: #dc143b;
  transition: 0.6s;
  text-shadow: 2px 3px #000;

}

h1 {
  color: #fff;
  text-align: center;
  font-size: 120px;
  text-shadow: 2px 3px #000;
  margin: 260px;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

h1:hover{
  transition: 0.6s;
  font-size: 130px;
}

h2 {
  color: #fff;
  text-align: center;
  font-size: 40px;
  text-shadow: 2px 3px #000;
  position: relative;
  bottom: 400px;
}

.about-me {
  color: #E0C097;
  font-size: 50px;
  text-align: left;
  position: relative;
  bottom: 200px;
  left: 800px;
  text-shadow: 2px 2px 4px #000;
}

.title {
  color: #dc143b;
}

.icon {
  float: left;
  width: 95px;
  height: 95px;
}

.icon:hover {
  width: 100px;
  height: 100px;
  transition: 0.6s;
}

.page-footer {
  color: #fff;
  text-align: center;
  padding: 1px;
  position: relative;
  top: 200px;
}

.socials:hover {
  cursor: pointer;
}

.topso {
  float: right;
  position: relative;
  bottom: 40px;
}

.contact {
  position:relative;
  bottom: 100px;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 300px;
  font-size: 30px;
  color: #fff;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 15px;
  border: 5px solid #E0C097;
  border-radius: 15px;
  margin-top: 8px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 25px;
}

.submit-button {
    background-color: #fff;
    border: 2px solid #E0C097;
    border-radius: 30px;
    box-shadow: #E0C097 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-family: 'Amatic SC', cursive;
    font-weight: 600;
    font-size: 30px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
}

.submit-button:hover {
  background-color: #E0C097;
  transition: 0.6s;
}

.work-title {
  position: relative;
  bottom: 150px;
}

.cat {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 400px;
  left: 39px;
}

.page-footer-contact {
  color: #fff;
  text-align: center;
  padding: 1px;
  position: relative;
  bottom: 200px;
}

.selfie {
  width: 500px;
  height: 500px;
  position: relative;
  bottom: 500px;
  left: 200px;
  border-radius: 30px;
  filter: grayscale(1);
}

.selfie:hover {
  width: 550px;
  height: 550px;
  transition: 0.6s;
}

.text-1 {
  text-align: center;
}

.skills {
  position: relative;
  bottom: 500px;
}

.skill-bars{
  position: absolute;
  left: 50px;
  top: 120%;
  padding: 25px 30px;
  width: 90%;
  background: #422800;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 1px #000;
  opacity: 0;
  animation: showText 0.2s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 30px;
  width: 100%;
  background: #211400;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(141,126,102,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #E0C097;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 100%;
}
.bar .progress-line.css span{
  width: 80%;
}
.bar .progress-line.jquery span{
  width: 20%;
}
.bar .progress-line.python span{
  width: 100%;
}
.bar .progress-line.mysql span{
  width: 90%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #fff;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 20px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "100%";
}
.progress-line.css span::after{
  content: "80%";
}
.progress-line.jquery span::after{
  content: "20%";
}
.progress-line.python span::after{
  content: "100%";
}
.progress-line.mysql span::after{
  content: "90%";
}
